$main_color: #ff8e32;
$secondary_color: rgb(255, 195, 138);
header{
    height: 100vh;
    width: 100%;
    display: table;
}

.background{
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-image: url('../img/header.jpg');
    background-position: 50% 0;
    opacity: .5;
    z-index: -1;
    position: absolute;
}

.content{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    h1{
        color: $main_color;
        font-size:4rem;
    }
    h2{
        color:$secondary_color;
        margin-bottom: .5rem;
    }
    width: 100%;
}

.navbar{
    z-index: 999;
    
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-print{
    background-color:$secondary_color;
    &:hover{
        background-color:$main_color;
    }
}
